.modal {
  background-color: #fff;
  border: 1px solid var(--grey);
  position: absolute;
  z-index: 98;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}

.modal-title {
  margin-bottom: 30px;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.26);
}

.modal-btns {
  margin-top: 10px;
  align-self: flex-end;
}

.modal-cancel,
.modal-confirm {
  padding: 0.6em 1.5em;
  margin-left: 10px;
}
